html {
  font-size: 100.01%;
  height: 100%;
  display: block;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: #fff;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table,
th,
td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
body {
  font-size: 12px;
  color: #555;
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  min-width: 960px;
  background: #fff;
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
  line-height: 1.5;
}
#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #2494c9), color-stop(100%, #1785a8));
  background: -moz-linear-gradient(top, #2494c9 75%, #1785a8 100%);
}
#mainmenu {
  padding-top: 5px;
}
#logo {
  float: left;
  padding: 10px 40px 0 10px;
  color: #fff;
}
.navbar {
  float: left;
  line-height: 20px;
  position: relative;
}
a {
  color: #06c;
  text-decoration: underline;
}
ul {
  list-style-type: disc;
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
li ul,
li {
  margin: 0;
}
.navbar,
.navbar * {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li.current a,
.navbar li:hover a,
.navbar a:focus,
.navbar a:hover,
.navbar a:active,
.navbar li.active,
.navbar li.active a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #fff));
  background: -moz-linear-gradient(top, #eee 0, #fff 100%);
  color: #555;
}
.navbar li,
.navbar li a {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.navbar li {
  float: left;
  margin: 0 3px 0 0;
  position: static;
}
.navbar li a {
  padding: 10px 25px;
  text-decoration: none;
  color: #d7edf4;
  font-size: 15px;
  font-weight: bold;
}
.navbar a,
.navbar a:visited {
  border: none;
}
.navbar a {
  border-top: none;
  display: block;
  position: relative;
}
.unavbar {
  float: right;
  line-height: 16px;
  text-align: right;
}
.unavbar,
.unavbar * {
  list-style: none;
  margin: 0;
  padding: 0;
}
.unavbar li a {
  padding: 0 18px;
  text-decoration: none;
  color: #fff;
  font-size: 11px;
}
.clear {
  clear: both;
}
.topmenuitem {
  width: 300px;
  margin: 10px;
  background-color: #999;
  font-weight: bold;
  cursor: pointer;
  color: #f00;
}
.topmenuitem:hover {
  background-color: #bbb;
}
